<div class="create">
	<h2>Delete Item</h2>
	<%= form_for(:item, :url => {:action => 'destroy', :id => @item.id, :shop_id => @shop.id}) do %>
	<!-- this div contain button to delete and the name of item -->
	<p class = "alert">Are you sure you want to delete this Item?</p>
	<p> <%= @item.item_name %> </p>
	<div>
		<%= submit_tag("Delete") %>
	</div>
	<% end %>
</div>