<%= link_to("<<", {:action => 'index'}, :class => 'back') %>


<div class ="create">
 <h2><%= @shop.shop_name %></h2>
  
    <div>
    <!-- This is the shop cover image. Can either use image_tag function or the good old html. I used html for css image resizing -->
      <% image_tag @shop.cover_url.to_s %>
      <img src="<%= @shop.cover_url.to_s %>" style="width:200px;height:200px">
    </div>
    <div>
      <div class = "bold">Description</div>
      <div class = "description"><%= @shop.shop_desc %></div>
    </div>

</div>
