<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div>
  <h2>Show Shop</h2>

  <table>
    <tr>
    <!-- This is the shop cover image. Can either use image_tag function or the good old html. I used html for css image resizing -->
      <%=image_tag @shop.cover_url(:thumb).to_s %>
      <th>Shop Name</th>
      <td><%= @shop.shop_name %></td>
    </tr>
    <tr>
      <th>Shop Description</th>
      <td><%= @shop.shop_desc %></td>
    </tr>
  </table>

</div>
