<% @page_title = "Home" %> <!--set the page title to home-->

  
    <div id="slider"> <!-- Slider DIV-->
      <div id="mask"> <!-- Mask DIV-->
        <ul>
          <li class="firstanimation">
            <a href="#">
            <img src="http://wallpaper.ultradownloads.com.br/282542_Papel-de-Parede-Connor-Assassins-Creed-3_1600x900.jpg" alt="Wood"/>
            </a>
          </li>
          <li class="secondanimation">
            <a href="#">
            <img src="http://www.mrwallpaper.com/wallpapers/summer-landscape-road-hd-1600x900.jpg" alt="Fire"/>
            </a>
          </li>
          <li class="thirdanimation">
            <a href="#">
            <img src="http://www.mrwallpaper.com/wallpapers/Blue-Dragon-Art-1600x900.jpg" alt="Earth"/>
            </a>
          </li>           
          <li class="fourthanimation">
            <a href="#">
            <img src="http://www.mrwallpaper.com/wallpapers/Fantasy-Space-Art-1600x900.jpg" alt="Metal"/>
            </a>
          </li>
          <li class="fifthanimation">
            <a href="#">
            <img src="http://www.mrwallpaper.com/wallpapers/The-Joker-Art-1600x900.jpg" alt="Water"/>
            </a>
          </li>
        </ul>
      </div> <!-- /Mask DIV-->
      <div id="progressbar"> <!-- Progress Bar DIV-->
      </div> <!-- /Progress Bar DIV-->
    </div> <!-- /Slider DIV-->
  

<% if !user_signed_in? %> <!--check if the user loged in or not-->

<%else%>
<div class ="pp">
  <h2>WELCOME</h2> <br>
<img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="" height="100" width="100"> 
<h4><%=@current_user.uname%> </h4>
</div>
<%end%>
 <div class = "page">
    <% @items.each do |item| %> <!--diplay of all items in all shops-->
    <div class ="shop-card">
      <div><%= item.id %></div>
      <div><%= item.item_name %></div>
      <div class="actions">
        <%= link_to "Show", {:action => 'show', :id => item.id, :controller => 'item'}, :class => 'actionshow' %>   
        </div>
    </div>
    <% end %>
  </div>

