<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="shop delete">
	<h2>Delete Shop "<%= @shop.shop_name %>" </h2>

	<%= form_for(:shop, :url => {:action => 'destroy', :shop_id => @shop.shop_id}) do |f| %>
	<p>Are you sure you want to permanently delete this shop?</p>

	<div class="form-buttons">
		<%= submit_tag("Delete Shop") %>
	</div>

	<% end %>
</div>