/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.button{

	background: #e95640;
  background-image: -webkit-linear-gradient(top, #e95640, #e95640);
  background-image: -moz-linear-gradient(top, #e95640, #e95640);
  background-image: -ms-linear-gradient(top, #e95640, #e95640);
  background-image: -o-linear-gradient(top, #e95640, #e95640);
  background-image: linear-gradient(to bottom, #e95640, #e95640);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  opacity: 0.9;
}

.button:hover {
  background: #ffb296;
  background-image: -webkit-linear-gradient(top, #ffb296, #ffb296);
  background-image: -moz-linear-gradient(top, #ffb296, #ffb296);
  background-image: -ms-linear-gradient(top, #ffb296, #ffb296);
  background-image: -o-linear-gradient(top, #ffb296, #ffb296);
  background-image: linear-gradient(to bottom, #ffb296, #ffb296);
  text-decoration: none;
  opacity: 0.9;
}

.notice{
  background: #A4FCEF;
  width: 50%;
  display: inline;
  padding: 2px 10% 2px 10%;
  margin-left: 35%;
  font-family: 'Segoe UI';
  text-align: center;
}


.cartError{
  text-align: center;
  background: #FF9494;
  width: 50%;
  display: inline;
  padding: 2px 10% 2px 10%;
  margin-left: 25%;
  font-family: 'Segoe UI';
  text-align: center;
}

footer{
	font-family: 'Segoe UI';
	text-align: center;
	margin-top: 10px;
}

