/*
 *= require_tree .
 *= require_self
 */

/*
  Start point
  author:Sabrout
  */

body{
  padding:0px;
  min-height: 10000px;
  height: 100%;
  background-color: #222222;
}

.logo{
  float: left;
}

.container-color {
  margin: 0 auto;
  height: 58px;
  width: auto;
  background-color: #2f2f2f;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 58px;
  width: auto;
  background-color: #2f2f2f;
  width: 100%;
}

.nav-bar {
  padding: 0.625em 0;   
  text-align: right;
  width: 100%;
}

.navbar-mail{
  text-transform: uppercase;
  color: #EEC900;
  text-decoration: none;
  font-family:Segoe UI;
  font-weight: bold;
  transition:all 0.2s ease-in-out;
  padding:12px;
  text-align: center;
  
}

.navbar-cart{
  text-transform: uppercase;
  color: #aa5351;
  text-decoration: none;
  font-family:Segoe UI;
  font-weight: bold;
  transition:all 0.2s ease-in-out;
  padding:12px;
  text-align: center;
}

.navbar-browse{
  text-transform: uppercase;
  color: #7b911f;
  text-decoration: none;
  font-family:Segoe UI;
  font-weight: bold;
  transition:all 0.2s ease-in-out;
  padding:12px;
  text-align: center;
}

.navbar-login{
  text-transform: uppercase;
  color: #5a9ea2;
  text-decoration: none;
  font-family:Segoe UI;
  font-weight: bold;
  transition:all 0.2s ease-in-out;
  padding:12px;
  text-align: center;
}

.navbar-mail:hover{
  
  text-decoration:none;
  color:#fff;
  font-family:Segoe UI;
  background-color:#EEC900;
  padding:12px 12px 25px 12px;
}

.navbar-cart:hover{
  
  text-decoration:none;
  color:#fff;
  font-family:Segoe UI;
  background-color:#aa5351;
  padding:12px 12px 25px 12px;
}

.navbar-browse:hover{
  
  text-decoration:none;
  color:#fff;
  font-family:Segoe UI;
  background-color:#7b911f;
  padding:12px 12px 25px 12px;
}

.navbar-login:hover{
  
  text-decoration:none;
  color:#fff;
  font-family:Segoe UI;
  background-color:#5a9ea2;
  padding:12px 12px 25px 12px;
}

.a-footer{
  color: #e5e5e5;
  text-decoration: none;
}

#footer{
  margin-bottom: -150px;
  clear: both;
  margin-bottom: 0;
}

.tomottoWrap{
  position: relative;
  background: #2f2f2f;
}

#tomotto{
  text-align: center;
  color:#f2f2f2;
  width: 960px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9);
  line-height: 36px;
  margin: auto;
}

.lookWrap{
  padding-top: 1%;
  position: relative; 
  background-color: #222222;
  float: left;
  width: 100%;
}

#look{
  margin: auto;
  width: 700px;
}

.section{
  overflow: hidden;
  float: left;
  display: inline;
  width: 160px;
  margin: 0 15px 15px 0;
  font: 10pt verdana;
  line-height: 1.6em;
}

.section h3{
  font-weight: normal;
  font: 12pt Georgia;
  text-transform: uppercase;
  color: #f2f2f2;
}

.section a{
  display: block;
}

.legality{
  margin: auto;
  width: auto;
  text-align: center;
  clear: both;
  font: 10pt Segoe UI;
  line-height: 2em;
  padding: 10px 0 0 0;
  color:#fff;
  background-color: #2f2f2f;
}

#reasonable-yellow{
  color:#EEC900;
  font-family: Segoe UI;
  font-size: 1.5em;
}

#reasonable-red{
  color:#aa5351;
  font-family: Segoe UI;
  font-size: 1.5em;
}

#reasonable-green{
  color:#7b911f;
  font-family: Segoe UI;
  font-size: 1.5em;
}

#reasonable-blue{
  color:#5a9ea2;
  font-family: Segoe UI;
  font-size: 1.5em;
}

/*
  End point
  author:Sabrout
  */
