// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.float-left { 
  float: left;
}
.float-right {
  float: right;
}*/

.item-image {
  float: left;
  margin: 0 25px 10px 0;
  text-align: center;
  margin-left: 0.5%;
}

.text-field{
  background: white; 
  border: 1px solid #c4c4c4; 
  border-radius: 15px; 
  color: #666; 
  text-align: center;
  outline: none; 
  height:23px; 
  width: 25px; 
}

.text-field:focus{
  box-shadow: 0 0 5px 3px #c4c4c4; 
}

 .clear:after{
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.item-label {
  color: #858585;
  padding: 5px 0 10px 0;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}
.item-desc {
  color: #ee3e00;
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
}

.price {
  color: #ee3e00;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6em;
}

.total-price{
  text-align: center;
  /*background: white;*/
  font-size: 18px;
  color: black;
}

.total-price-line{
  margin-right: 10%;
}

.total-price-number{
  color: #ee3e00;

  font-size: 18px;
}
.sub-price{
  color: #ee3e00;
  font-size: 14px;
  line-height: 1.6em;
}

.cart-button {
  background: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  font-family: 'Segoe UI';
  color: black;
  font-weight: bold;
  font-size:85%;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  opacity: 0.9;
  float: right;
}
.update-button {
  margin-left: 1%;
}
.clear:hover{
  color: #e95640;
}
.cart-button:hover{
  color: #e95640;
}

hr {
  border: 0.5;
}


.empty-cart{
  margin-top : 0;
  margin-bottom : 0;
  padding: 5% 0 5% 40%;
}



.content-helper {
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  background: white;
}



.item-title {
  color: #ee3e00;
  font-family: 'Rufina', Georgia, Serif;
  font-weight: bold;
}
