
.page{ /*changes the color, position , and padding of the white page which will include all the elements in the website*/
  /*background: url(index.jpeg);
  background-size: cover;*/
  padding-top:6%;
  padding-left: 6%;
  padding-right: 1%;
  background-color:#fefefe;
  height: 100%;
  font-family: 'Segoe UI';
  margin-top: 4.5%;
  margin-left: 11%;
  margin-right: 11%;
  text-align: center;
  padding-bottom: 5%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
}
.pp
{
  position: absolute;
  left: 5px;
  top: 5%;
}
#slider .arrow {
  width:45px;
  height:45px;
  display:none;
}
#slider .left, #slider .right {
  position:absolute;
  top:45%;
  cursor:pointer;
}
#slider .left {
  left:2%;
}
#slider .right {
  right:2%;
}
/* to set the slider view (End)*/
.homebuttons { /* to set the buttons view*/
  text-align: center;
  position: relative;
  right: 2px;
  top: 15%;

}

