// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.h /* to set the font and color and size of the headline*/
{
	margin-right: 50%;
	font-size: 700%;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.sb /* to set the loging button`s  position and width*/
{

		margin-left: 41%;
		margin-bottom: 30%;
		width: 200px;
}
