.alert{ /* change color and size of alert massage of delete item */
	color: red;
	font-size: 100%;

}
.blod{  /*changes the color, font size, and font style of Description of item*/
	text-align: left;
	margin-top: 0;
	color: black;
	font-size: 200%;
	font-family: 'Segoe UI';
}
.answer{	/*changes the color, font size, and font style of Description of item*/
	text-align: left;
	margin-top: 0;
	margin-left: 3%;
	color: red;
	font-size: 100%;
	font-family: 'Segoe UI';

}