.alert{ /* change color and size of alert massage of delete item */
	color: red;
	font-size: 100%;

}
.blod{  /*changes the color, font size, and font style of Description of item*/
	text-align: left;
	margin-top: 0;
	color: black;
	font-size: 200%;
	font-family: 'Segoe UI';
}
.answer{	/*changes the color, font size, and font style of Description of item*/
	text-align: left;
	margin-top: 0;
	margin-left: 3%;
	color: red;
	font-size: 100%;
	font-family: 'Segoe UI';

}
.page_o{
	padding-top:6%;
	padding-left: 6%;
	padding-right: 1%;
	background-color:#fefefe;
	height: 100%;
	font-family: 'Segoe UI';
	margin-top: 0.5%;
	margin-left: 11%;
	margin-right: 11%;
	padding-bottom: 5%;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);

}