
.pagetitle{ /*changes the color, font size, and font style of the title of every page*/
	color: black;
	text-align: center;
	margin-top: 5%;
	font-size: 220%;
	font-family: 'Segoe UI';
}
h2{
	margin-top: 1%;
}
body{  /*defines the background color of all the page of the website*/
	background-color: #F2F2F2;
	background-size: cover;
	height: 100%;
}
.page{ /*changes the color, position , and padding of the white page which will include all the elements in the website*/
	/*background: url(index.jpeg);
	background-size: cover;*/
	padding-top:6%;
	padding-left: 6%;
	padding-right: 1%;
	background-color:#fefefe;
	height: 100%;
	font-family: 'Segoe UI';
	margin-top: 0.5%;
	margin-left: 11%;
	margin-right: 11%;
	text-align: center;
	padding-bottom: 5%;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
}
.header{ 

	/*margin-right:5%;*/
	margin-top:20%;
	
}
.k{
	color:#E9573F;
	margin-left: 15%;
	font-family: 'Segoe UI';
	text-decoration: none;
}
.title{ /*writes the knellen at the top of the page, sets the color to white and the font style to segoe*/
	margin-left: -.5%;
	color: black;
	font-family: 'Segoe UI';
	text-decoration: none;
	}
.titlebk{ /*changes the background of the banner at the top of the page to orange, and also changes its position and edges style*/
	background-color: white;
	margin-top:-25px;
	margin-right:-.4%;
	margin-left:-.4%;
	/*width: 90%;*/
	/*border-radius: 10px;*/
	opacity: 0.9;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 15px 0px rgba(160,160,160,1);
}

.banner { /*setting the width of the banner*/
	/*position: fixed;*/
	width: 100%;
	top: 0px;
}

.table{ /* changes the font size and the alignment of the table */
	font-size: 110%;
	float: center;	
}
th{ /*styling the heads of the table*/
	padding: .5%;
	width:28.5%;
	float: center;
	/*margin-bottom:-80%;*/
}
.actionshow, .actionedit, .actiondelete{ /*changes the background color, font color , and font style of the three buttons (show, edit, delete)*/
	color: #E9573F; 
	background-color: #fefefe; 
	font-family: 'Segoe UI';
	text-decoration: none;
}
.back:hover{
		color: #E9573F; 
		-webkit-box-shadow: 0px 0px 10px 0px rgba(233,87,63,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(233,87,63,1);
	box-shadow: 0px 0px 10px 0px rgba(233,87,63,1);
}
 .actionshow:hover, .actionedit:hover, .actiondelete:hover{ /*changes the background color of the three buttons(show,edit, delete) on hover*/
color:#ffb296;
}
.title :hover{ /*changes the background color of the knellen title on hover
	background-color:	#ffb296;*/
}
/*.add{
	color: #F2F6DD; 
	background-color: #E9573F; 
	padding: 1%; 
	border-color: #E9573F;
	border: none; 
	border-radius: 20%; 
	margin-right: 50%;
	margin-left:45.5%; 
	font-family: 'Segoe UI';
	text-decoration: none;
}*/

.add1{ /*changes the text alignment*/
text-align: right;	
float: right; 
display: inline-block; 
margin-top: -.5%;	
margin-left: 0.5%;
}
.add{
	text-align: center;	
}
.actions{ /*changes the background color of the three buttons (show, edit, delete)*/
	background-color: #fefefe; 
}

.shop-card{ /*styles all the shop cards by changing the position, font, border style, padding and text alignment*/
	max-width: 20%;
	text-align:center;
	margin-top: 1%;
	margin-bottom: 5%;
	margin-left: 1%;
	margin-right: 1%;
	padding:1.5%;
	float: left;
	font-size: 120%;
	border-color: black;
	background-color: #fefefe; 
	-webkit-box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	transition: box-shadow .30s;
}
.shop-card:hover{ /*changes the shadow of the shopcard on hover*/
	transition: .30s;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(233,87,63,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(233,87,63,1);
	box-shadow: 0px 0px 15px 0px rgba(233,87,63,1);
}
.back{ /*styles the back button on all of the pages by changing their color the position, font, border style, padding and text alignment*/
	color: black; 
	background-color: #f2f2f2; 
	padding: 0.5%; 
	border-color: #E9573F; 
	border-radius: 45%; 
	margin-right: 52%;
	margin-left:46%; 
	font-family: 'Segoe UI';
	text-decoration: none;
	font-size: 110%;
	font-style: none;
	margin-top:20%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
}
.create{ /*styles (show, edit, delete) cards by changing the position, font, border style, padding and text alignment*/
	margin-right: 40%;
	margin-left:35%;
	margin-top: 8%;	
	font-size: 120%;
	padding:2%;
	padding-top: -1%;
	background-color: #fefefe; 
	border-radius: 10%;
	text-align: center;
	font-family: 'Segoe UI';
	-webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);;
}
.submit{ /*styles all submit buttons in (show, edit, delete) cards*/
	color: #F2F6DD; 
	background-color: #E9573F; 
	padding: 0.5%; 
	border-color: #E9573F; 
	border-radius: 10%; 
	margin-right: 50%;
	margin-left:35%; 
	font-family: 'Segoe UI';
	text-decoration: none;
	margin-top: 10%;
	font-size: 90%;
}

.notice{ /*styles the flash that appear after the delete or edit command execution*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 10px 0px rgba(160,160,160,1);
	margin-right: 54%;
	margin-left:40%;
	margin-top: 1%;
	width: 20%;
	text-align: center;
}
.bold{
	font-size: 120%;
	font-style: bold;
}
.description{
	-webkit-box-shadow: 0px 0px 2px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 2px 0px rgba(160,160,160,1);
	padding:1%;
	overflow: hidden;
	height: 100%;	
}

.show-shop{ /*styles (show, edit, delete) cards by changing the position, font, border style, padding and text alignment*/
	color : black;
	margin-top: 3%;
	margin-left: 11%;
	margin-right: 11%;	
	font-size: 120%;
	text-align: left;
	padding:2%;
	padding-top: -1%;
	background-color: #D5D5D5; 
	font-family: 'Segoe UI';
 	/*-webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);*/
}
.shop-image{
	background: white;
	padding: 1%;
	margin-top: 2%;
	margin-bottom: -12%;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 15px 0px rgba(160,160,160,1);
}



.shop-button{
		background: white;
-webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  border-top-left-radius:10px;
  border-top-right-radius: 10px;  
  font-family: 'Segoe UI';
  color: black;
  font-weight: bold;
  font-size:85%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  opacity: 0.9;

 }




.shop-button:hover{
  color: #e95640;
 /*-webkit-box-shadow: 0px 0px 20px 0px rgba(233,87,63,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(233,87,63,1);
	box-shadow: 0px 0px 20px 0px rgba(233,87,63,1);*/
}
.shop-name{
	font-size: 150%;
	text-align: center;
	
}
.shop-description{
	background-color: white;
	font-size: 130%;
	margin-left: 32%;
	margin-right: 20%;
	overflow: hidden;
	padding: 1%;
	border-radius: 5px;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
-webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
	box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);

}
.invisible{
	visibility: hidden;
}
.shop-name{
	font-size: 150%;
	text-align: center;
}
.shop-owner{
	font-size: 100%;
	text-align: center;
}
.art-name{ /* change color ,size and position of art name*/
	margin-top: 2% ;
	font-size: 100%;
	text-align: center;
	color: red;
}
.gallery_o {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 20px;
}
.gallery_o li {
  width: 421px;
  min-height: 100%;
  text-align: center;
  height: 255px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  background-color: black;
}
.gallery_o li:nth-child(2) img {
  margin: 0;
  display: inline-block;
  float: right;
}
.gallery_o li .name_o {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: .1em;
  position: absolute;
  display: block;
  top: 40%;
  left: 0;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.gallery_o li .name_o .title_o {
  display: block;
  text-transform: none;
  font-style: italic;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}
.gallery_o li:hover .name_o {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.gallery_o li:hover .title_o {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.gallery_o li:hover img {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background-position: top top;
  -webkit-filter: grayscale(0.4) blur(2px);
  filter: grayscale(0.4) blur(2px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.gallery_o li:hover:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.gallery_o li img {
  display: block;
  width: 421px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  -moz-transform: scale(1.09, 1.09);
  -ms-transform: scale(1.09, 1.09);
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.image{
	text-align: left;
}

